.auto-edit-wrap {
    flex-grow: 1;
    min-height: 600px;
    padding: 30px;
  }
  
  .edit-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .edit-table th,
  .edit-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .edit-table th {
    background-color: #f5f5f5;
  }
  
  .edit-table td button {
    padding: 4px 10px;
  }
  
  /* 모달 */
  .edit-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .edit-modal-box {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    max-height: 600px;
    margin-top: -120px;
  }
  
  .edit-modal-box h3 {
    margin-bottom: 20px;
  }
  
  .edit-modal-box label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .edit-modal-box input,
  .edit-modal-box select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;  /* 중앙 정렬 */
    gap: 10px;                /* 버튼 간 간격 */
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #2b73ec;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    width: 90px;
  }
  
  .modal-buttons button:hover {
    background-color: #1c5fd4;
  }
  
  .input {
    width: 120px !important;            
    padding: 5px 8px;
    border: 1px solid #ccc;  
    border-radius: 10px;     
    font-size: 14px;
  }  

  .short-input {
    width: 40px !important;            
    padding: 5px 8px;
    border: 1px solid #ccc;  
    border-radius: 10px;     
    font-size: 14px;
  }  

  .edit-btn {
    background-color: #2b73ec;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    margin-right: 5px;
    cursor: pointer;
    width: 60px;
  }
  
  .edit-btn:hover {
    background-color: #1c5fd4;
  }
  
  .delete-btn {
    width: 60px;
    background-color: #b13434;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #d23636;
  }