<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.sound.exchange.dao.AdminExchangeDAO">
	
	<!-- 단일 수수료 업데이트 -->
	<update id="updateFeeRate">
	  UPDATE exchange_rate
	  SET fee_rate = #{fee_rate}
	  WHERE base_date = #{base_date}
	    AND currency_code = #{currency_code}
	</update>

</mapper>
