<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.sound.inquire.account.DepositAccountDAO">

    <!-- 고객 ID로 예금 계좌 조회 -->
    <select id="depositAccountList" parameterType="String" resultType="com.boot.sound.inquire.account.DepositAccountDTO">
        SELECT *
        FROM DEPOSIT_ACCOUNT_TBL
        WHERE CUSTOMER_ID = #{customer_id}
    </select>

</mapper>