<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
 <mapper namespace="com.boot.sound.deposit.DepositDAO">
 
 
 	    <!-- 예금/적금 계좌 전체 조회 -->
    <select id="depositList" resultType="com.boot.sound.deposit.DepositDTO">
        SELECT 
            dat_id ,                             
            dat_account_num,
            dat_deposit_account_num,
            dat_balance,
            dat_term,
            dat_start_day,
            dat_end_day
        FROM 
            DEPOSIT_ACCOUNT_TBL
    </select>
    
    <!--  신규 예금 계좌 생성 -->
    <insert id="depositInsert">
        INSERT INTO DEPOSIT_ACCOUNT_TBL(
        DAT_ACCOUNT_NUM,
        DAT_ACCOUNT_PWD,
        DAT_DEPOSIT_ACCOUNT_NUM,
        DAT_DEPOSIT_ACCOUNT_PWD,
        DAT_NEW_AMOUNT,
        DAT_BALANCE,
        DAT_TERM,
        DAT_START_DAY,
        DAT_END_DAY
        )
        VALUES(
           #{dat_account_num},
           #{dat_account_pwd},        
           #{dat_deposit_account_num},   
           #{dat_deposit_account_pwd},
           #{dat_new_amount},
           #{dat_balance},
           #{dat_term},
           #{dat_start_day},
           #{dat_end_day}
        )
        
    
    
    </insert>
    
 
 
 </mapper>