<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.boot.sound.exchange.ExchangeDAO">
	<!-- 계좌 조회 -->
	<select id="findAccountByNumber" parameterType="String" resultType="com.boot.sound.inquire.account.AccountDTO">
	  SELECT * FROM account_tbl
	  WHERE account_number = #{account_number}
	</select>
	
	<!-- 계좌 잔액 업데이트 -->
	<update id="updateAccountBalance" parameterType="com.boot.sound.inquire.account.AccountDTO">
	  UPDATE account_tbl
	  SET balance = #{balance}
	  WHERE account_number = #{account_number}
	</update>
	
	<!-- 지갑 존재 여부 확인 -->
	<select id="findByCustomerAndCurrency" resultType="int">
	  SELECT COUNT(*) FROM exchange_wallet
	  WHERE customer_id = #{customer_id}
	    AND currency_code = #{currency_code}
	</select>
	
	<!-- 지갑 생성 -->
	<insert id="insertWallet" useGeneratedKeys="true" keyProperty="wallet_id">
	  INSERT INTO exchange_wallet (customer_id, currency_code, balance, status)
	  VALUES (#{customer_id}, #{currency_code}, #{balance}, #{status})
	</insert>
	
	<!-- 지갑 잔액 업데이트 -->
	<update id="updateWalletBalance" parameterType="com.boot.sound.exchange.dto.ExchangeWalletDTO">
	  UPDATE exchange_wallet
	  SET balance = #{balance}, 
	  	  updated_at = CURRENT_TIMESTAMP,
	  	  status = #{status}
	  WHERE customer_id = #{customer_id}
	    AND currency_code = #{currency_code}
	</update>
	
	<!-- 환전 내역 저장 -->
	<insert id="chargeWallet" parameterType="com.boot.sound.exchange.dto.ExchangeTransactionDTO">
	  INSERT INTO exchange_transaction (
	    customer_id, withdraw_account_number, currency_code, from_currency, to_currency,
	    request_amount, exchanged_amount, exchange_rate, transaction_type ,exchange_transaction_date, base_date,  approval_status
	  )
	  VALUES (
	    #{customer_id}, #{withdraw_account_number}, #{currency_code}, #{from_currency}, #{to_currency},
	    #{request_amount}, #{exchanged_amount},#{exchange_rate},#{transaction_type} , NOW(), CURDATE(), #{approval_status}
	  )
	</insert>
	
	<!-- 방금 거래한 환전 내역 조회 -->
	<select id="findTransById" resultType="com.boot.sound.exchange.dto.ExchangeTransactionDTO">
	  SELECT * FROM exchange_transaction
	  WHERE customer_id = #{customer_id}
	  ORDER BY exchange_transaction_date DESC
	  LIMIT 1
	</select>
	
	<!-- 지갑 여부조회 -->
	<select id="findWalletByCustomerAndCurrency" resultType="com.boot.sound.exchange.dto.ExchangeWalletDTO">
	   SELECT * FROM exchange_wallet
	   WHERE customer_id = #{customer_id}
	     AND currency_code = #{currency_code}
	</select>
  	<!-- 고객 계좌 조회     -->
	<select id="findAccountById" parameterType="String" resultType="com.boot.sound.inquire.account.AccountDTO">
		SELECT * FROM account_tbl
		WHERE CUSTOMER_ID = #{customer_id} 
	</select>
	
	<!-- 환전 내역 조회 -->
	<select id="getListById" parameterType="String" resultType="com.boot.sound.exchange.dto.ExchangeTransactionDTO">
		SELECT *
        FROM exchange_transaction
        WHERE customer_id = #{customer_id}
		  AND approval_status = 'APPROVED'
        ORDER BY exchange_transaction_date DESC
	</select>
	
	<!-- 환전신청내역조회 -->
	<select id="getExRequestListById" parameterType="String" resultType="com.boot.sound.exchange.dto.ExchangeTransactionDTO">
		SELECT * FROM exchange_transaction
		WHERE customer_id = #{customer_id}		  
		AND approval_status = 'PENDING'
		ORDER BY exchange_transaction_date DESC
	</select>
	
	<!-- 관리자 승인/거절 처리 -->
	<update id="updateApprovalStatus" parameterType="com.boot.sound.exchange.dto.ExchangeTransactionDTO">
		UPDATE exchange_transaction
		SET approval_status = #{approval_status}
		WHERE exchange_transaction_id = #{exchange_transaction_id}
	</update>

	<!-- 날짜별로 DB에 환율 자동저장 -->
	<insert id="insertExchangeRate" parameterType="map">
	    INSERT INTO exchange_rate (
	        base_date,
	        currency_code,
	        currency_name,
	        base_rate,
	        buy_rate,
	        sell_rate
	    )
	    VALUES (
	        #{base_date},
	        #{currency_code},
	        #{currency_name},
	        #{base_rate},
	        #{buy_rate},
	        #{sell_rate}
	    )
	</insert>
	
	<!-- 고객 지갑 목록 + 평균 매입 환율 조회 -->
	<select id="findWalletsWithAvgRate" resultType="com.boot.sound.exchange.dto.ExchangeWalletDTO" parameterType="String">
	  SELECT 
	    ew.wallet_id,
	    ew.customer_id,
	    ew.currency_code,
	    ew.balance,
	    IFNULL(avg.avg_rate, 0) AS average_rate,
	    IFNULL(er.BASE_RATE, 0) AS current_rate
	FROM exchange_wallet ew
	LEFT JOIN (
	    SELECT 
	        et.customer_id,
	        et.currency_code,
	        AVG(er.base_rate) AS avg_rate
	    FROM exchange_transaction et
	    JOIN exchange_rate er
	        ON et.base_date = er.base_date
	       AND et.currency_code = er.currency_code
	    WHERE et.transaction_type = 'buy'
	    GROUP BY et.customer_id, et.currency_code
	) avg
	  ON ew.customer_id = avg.customer_id
	 AND ew.currency_code = avg.currency_code
	LEFT JOIN exchange_rate er
	  ON er.base_date = CURDATE()
	 AND ew.currency_code = er.currency_code
	WHERE ew.customer_id = #{customer_id}
	  AND ew.balance > 0;
	</select>
	
	<!-- DB저장 환율 조회 -->
	<select id="getRateByDate" parameterType="String" resultType="java.util.Map">
		SELECT * FROM exchange_rate
		where base_date = #{base_date}
	</select>
	
	<!-- 환전 내역 거래번호로 조회 -->
	<select id="findTransByTransactionId" parameterType="Long" resultType="com.boot.sound.exchange.dto.ExchangeTransactionDTO">
		SELECT * FROM exchange_transaction
		WHERE exchange_transaction_id = #{exchange_transaction_id}
	</select>
	
	<select id="findWalletList" parameterType="String" resultType="com.boot.sound.exchange.dto.ExchangeWalletDTO">
		SELECT * FROM exchange_wallet
		WHERE customer_id = #{customer_id}
		  AND status = 'ACTIVE'
	</select>
	
	<update id="deactivateWallet" parameterType="Long">
		UPDATE exchange_wallet
		SET status = 'DEACTIVATE'
		WHERE wallet_id = #{wallet_id} 
	</update>
</mapper>   