<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.sound.inquire.account.InstallmentSavingsDAO">

  <select id="findByDatAccountNumList" resultType="com.boot.sound.inquire.account.InstallmentSavingsDTO" parameterType="list">
    SELECT * 
    FROM INSTALLMENT_SAVINGS_TBL
    WHERE IST_ACCOUNT_NUM IN
    <foreach item="num" collection="list" open="(" separator="," close=")">
      #{num}
    </foreach>
  </select>

</mapper>
