<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
 <mapper namespace="com.boot.sound.loan.LoanDAO">
 	<select id="loanList" resultType="com.boot.sound.loan.LoanDTO">
 		SELECT * FROM LOAN_TBL
 		ORDER BY LOAN_ID
 	</select>
 
 	<insert id="loanInsert">
 		INSERT INTO LOAN_TBL(LOAN_NAME,LOAN_MAX_AMOUNT,LOAN_MIN_AMOUNT,INTEREST_RATE,LOAN_TERM,LOAN_INFO,LOAN_TYPE)
		VALUES( #{loan_name},#{loan_max_amount},#{loan_min_amount},#{interest_rate},#{loan_term},#{loan_info},#{loan_type})
 	</insert>

	<select id="loanDetail" parameterType="int">
		SELECT * FROM LOAN_TBL
		WHERE loan_id = #{loan_id}
	</select>
	
	<delete id="loanDelete" parameterType="int">
		DELETE FROM LOAN_TBL
		WHERE loan_id = #{loan_id}
	</delete>
	
	<update id="loanUpdate" parameterType="com.boot.sound.loan.LoanDTO">
		UPDATE LOAN_TBL
		SET loan_name = #{loan_name}
		,	loan_min_amount = #{loan_min_amount}
		,	loan_max_amount	= #{loan_max_amount}
		,	interest_rate = #{interest_rate}
		,	loan_term = #{loan_term}
		,	loan_info = #{loan_info}
		,	loan_type = #{loan_type}
		WHERE loan_id = #{loan_id}
	</update>
	
	<select id="loanCnt" resultType="int">
		SELECT COUNT(*) FROM LOAN_TBL
	</select>
	
	<select id="loanTypeSearch" parameterType="String" resultType="com.boot.sound.loan.LoanDTO">
		SELECT * FROM LOAN_TBL
 		WHERE loan_type = #{loan_type}
	</select>
	
	<select id="loanTypeCnt" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM LOAN_TBL
		WHERE loan_type = #{loan_type}
	</select>
	
	<select id="loanNameSearch" parameterType="String" resultType="com.boot.sound.loan.LoanDTO">
	SELECT * FROM LOAN_TBL
	WHERE loan_name LIKE '%${loan_name}%'
	</select>
	
	<select id="loanNameCnt" parameterType="String" resultType="int">
	SELECT COUNT(*) FROM LOAN_TBL
	WHERE loan_name LIKE '%${loan_name}%'
	</select>
	
	<insert id="consentInsert" parameterType="com.boot.sound.loan.LoanConsentDTO">
		INSERT INTO LOAN_AGREE_STATUS_TBL(loan_id,customer_id,consent_use1,consent_use2,consent_use3,consent_use4,consent_view1,consent_view2,consent_view3,consent_view4)
		VALUES (#{loan_id},#{customerId},#{consent_use1},#{consent_use2},#{consent_use3},#{consent_use4},#{consent_view1},#{consent_view2},#{consent_view3},#{consent_view4})
	</insert>
	
	<select id="loanCustomer" parameterType="map" resultType="com.boot.sound.loan.LoanCustomerDTO">
	  SELECT 
	    l.*,
	    (SELECT GROUP_CONCAT(a.ACCOUNT_NUMBER SEPARATOR ', ')
	     FROM ACCOUNT_TBL a 
	     WHERE a.CUSTOMER_ID = #{customerId}) AS accountNumbers,
	    (SELECT a.CUSTOMER_ID 
	     FROM ACCOUNT_TBL a 
	     WHERE a.CUSTOMER_ID = #{customerId} 
	     LIMIT 1) AS customer_id
	  FROM LOAN_TBL l
	  WHERE l.LOAN_ID = #{loan_id}
	</select>
 
 	<insert id="loanApply" parameterType="com.boot.sound.loan.LoanStatusDTO">
 		INSERT INTO loan_status_tbl(loan_name,loan_id,interest_rate,customer_id,customer_income,customer_credit_score,loan_amount,balance,account_number,repayment_method,repayment_date,loan_type,loan_progress)
 		VALUES(#{loan_name},#{loan_id},#{interest_rate},#{customer_id},#{customer_income},#{customer_credit_score},#{loan_amount},#{loan_amount},#{account_number},#{repayment_method},#{repayment_date},#{loan_type},'신청')
 	</insert>
 	
 	<select id="loanStatus" resultType="com.boot.sound.loan.LoanStatusDTO">
 		SELECT * FROM LOAN_STATUS_TBL
 		ORDER BY loan_status_no
 	</select>
 	
 	<update id="loanStatusUpdate" parameterType="String">
 		UPDATE loan_status_tbl
 		set loan_progress  = #{loan_progress};
 	</update>
 	
 	<select id="selecCustomer" parameterType="String" resultType="com.boot.sound.customer.CustomerDTO">
 		SELECT 	customer_name,customer_phone_number
 		FROM 	CUSTOMER_TBL
 		WHERE customer_id = #{customerId}
 	</select>
 
 </mapper>