.TitleArea {
  width: 100%;
  margin-top: 5%;
  display: flex;
}

.Title {
  width: 70%;
  font-size: 30px;
  font-weight: bold;
  margin-left: 15%;
}
.textArea {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  width: 100%;
}
.text {
  border: 1px;
  border-style: solid;
  width: 70%;
  padding: 20px;
}

.AgreementBtn {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.AgreementBtn button {
  width: 35%;
  height: 20%;
}

.OfferTextArea {
  width: 100%;
}
.OfferTitle {
  text-align: center;
  margin-top: 2%;
  font-size: 30px;
  font-weight: bold;
}

.OfferText1 {
  text-align: left;
  width: 70%;
  margin-top: 1%;
  margin-left: 15%;
  font-size: 13px;
}

.OfferText2 {
  text-align: left;
  width: 70%;
  margin-top: 1%;
  margin-left: 15%;
  font-size: 14px;
}

.OfferText3 {
  text-align: left;
  width: 70%;
  margin-top: 1%;
  margin-left: 15%;
  font-size: 15px;
  font-weight: bolder;
}

.OfferArea {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  width: 100%;
}
.OfferTable {
  width: 70%;
}

.OfferTable thead td {
  text-align: left;
  font-size: 10px;
}

.OfferTable tbody td {
  text-align: left;
  font-size: 15px;
}

.OfferTable tfoot td {
  font-size: 10px;
}

.leftth {
  text-align: left;
}

.purpose {
  padding: 10px;
}

.OfferTable tfoot {
  background-color: white;
  color: black;
}
.FinalArea {
  width: 100%;
}
.FinalText {
  width: 70%;
  margin-left: 15%;
  margin-top: 1%;
  text-align: left;
}

.FinalBtn {
  text-align: center;
  margin-top: 1%;
}
.FinalBtn button {
  margin-top: 1%;
  background-color: black;
}
