.container {
  min-height: 590px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.section {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.scrollBox {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 1rem;
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 1rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.input,
.select {
  padding: 0.5rem;
  width: 60%;
  margin-bottom: 1rem;
  border: 1px solid #000000;
  border-radius: 6px;
  background-color: #ffffff;
  color: #000000;
}

.confirmBox {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 1rem;
  margin-top: 1rem;
}
