.container{
    padding : 10px;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto; /* 수평 가운데 정렬 */
    overflow-x: auto; /* 가로 스크롤 활성화 */
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* 날짜 입력 필드 스타일 */
.date-input {
    padding-top: 70px;
    margin-bottom: 20px; /* 아래쪽 여백 */
    text-align: center;
}

.calc-button {
    margin-top: 20px;
    text-align: center;
}