.loan {
  background-color: black;
  color: white;
}

.loanInsert {
  display: grid;
  min-height: 650px;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.insertInput {
  color: white;
  margin: 5px;
}

.insertHeader {
  color: white;
  font-size: 30px;
}

.insertTable {
  color: white;
}

.insertTable label {
  color: white;
}

.insertTable th,
.insertTable td {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 5px;
  color: white;
}

.sideBar {
  color: white;
  position: fixed;
  top: 25%;
  left: 5%;
  height: 30vh;
}

tfoot,
button {
  width: 100px;
  background-color: black;
  color: white;
}

.sideTable li {
  list-style: none;
}

.loanList {
  display: grid;
  min-height: 650px;
  align-content: center;
  justify-content: center;
  background-color: black;
}

.listTable tr,
.listTable th,
.listTable td {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 5px;
  color: white;
  text-align: right;
}
